/* CSS files add styling rules to your final project. Please feel free to revise the styles your own way. 
*/

/* Universal Styles*/

body {
    font-family: helvetica, arial, sans-serif;
    background-color: #fff;
    color: #000;
    max-width: 70%; 
    margin: auto; 
  }
  
  p {
    width: 70%;
    padding: 0 15%;
  }
  
  a {
    color: purple;
    text-decoration: none;
  }
  
  a:hover {
    opacity: 0.4;
  }
  
  /* Social Media Menu*/
  #social {
    background-color: #fff;
    color: #000;
    height: 40px;
  }
  
  #social ul {
    text-align: center;
  }
  
  #social li {
    list-style: none;
    display: inline-block;
    position: relative;
    top: 20px;
    padding: 0 10px;
  }
  
  /* Images */
  #heroimg {
    width: 100%;
  }
  
  #heroimg img {
    width: 100%;
  }
  
  #heroimg video {
    width: 100%;
  }
  
  .pcut {
    font-size: 14px;
    position: relative;
    float: right;
  }
  
  /* Headings */
  
  #intro {
    text-align: center;
    width: 70%;
    padding: 0 15%;
  }
  
  h1 {
    font-family: "Georgia", serif;
    font-style: bold;
    color: #000;
  }
  
  h3 {
    margin: 0;
    padding: 0 15%;
    color: #000;
  }
  
  .date {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .byline {
    font-family: "Georgia", serif;
  }
  
  #graphic-1,
  #graphic-2,
  #graphic-3 {
    padding: 0 15%;
  }

  table {
      padding-top: 3%;
  }
  
  #data-method {
    padding: 5% 0;
    font-size: 12px;
    font-family: Georgia, serif;
  }

  h4 {
    width: 70%;
    padding: 0 15%;
  }
  
  .credits {
    text-align: center;
    width: 70%;
    padding: 0 15%;
  }
  
  .credtx {
    display: inline-block;
    color: #000;
    padding-right: 10px;
  }
  
  footer {
    background-color: #000; /* You should use a color from your main image */
    text-align: center;
    height: 50px;
    color: #fff;
    padding-top: 20px;
  }
  
  .fb-share-button {
      padding-left: 45%;
      padding-bottom: 3%;
  }